In [194]:
import json

In [195]:
record = { 556671: {'Product name' : 'Dairy Milk', 'Brand Name' : 'Cadbury', 'Opening Quantity' : 100 , 'Sales Quantity' : 50, 'Closing Quantity' : 100, 'Sale Price' : 100, 'Purchase Price': 80 },
           556672: {'Product name' : 'Kitkat','Brand Name' : 'Nestle global', 'Opening Quantity': 100 , 'Sales Quantity':50, 'Closing Quantity':100   ,'Sale Price': 40, 'Purchase Price': 20},
            556673: {'Product name' : 'Five star', 'Brand Name' :'Cadbury', 'Opening Quantity':100     , 'Sales Quantity': 25   , 'Closing Quantity':100    ,'Sale Price': 10, 'Purchase Price': 5},
            556674: {'Product name' :'Eclairs', 'Brand Name' : 'Cadbury', 'Opening Quantity':100   , 'Sales Quantity': 25   , 'Closing Quantity':100    ,'Sale Price': 2, 'Purchase Price': 1},
            556675: {'Product name' : 'Dark Fantasy', 'Brand Name' : 'SunFeast', 'Opening Quantity':100  , 'Sales Quantity':70    , 'Closing Quantity':100   ,'Sale Price': 50, 'Purchase Price':40},
            556676: {'Product name' : 'Perk', 'Brand Name' :'Cadbury', 'Opening Quantity':100 , 'Sales Quantity': 29   , 'Closing Quantity':100   ,'Sale Price': 20, 'Purchase Price':15},
            556677: {'Product name' :'Bournville', 'Brand Name': 'Cadbury', 'Opening Quantity':100, 'Sales Quantity': 0   , 'Closing Quantity':100   ,'Sale Price': 100 , 'Purchase Price':75},
            556678: {'Product name' :'Dark Chocolate','Brand Name' :'Amul', 'Opening Quantity':100 , 'Sales Quantity':22    , 'Closing Quantity': 100   ,'Sale Price': 100, 'Purchase Price':80},
             }

In [196]:
Customer_record = {'XXXX' :{'Chocolates': 'Dairy Milk, Kitkat,Five star,Snikers,Eclairs,Perk,Dark Fantasy,bournville' },
                   998861: {'Name': 'Vaishnavi Salunkhe', 'Total purchase till now in Rs': 'Rs.2000', 'No. of purchases till now':'10','Most prefered brands':'Cadbury,Mars,Nestle Global'},
                   998862: {'Name': 'Nimisha Patil', 'Total purchase till now in Rs': 'Rs.2000', 'No. of purchases till now':'10','Most prefered brands':'Cadbury,Mars'},
                   998863: {'Name': 'Vaibhav Salunkhe', 'Total purchase till now in Rs': 'Rs.5000', 'No. of purchases till now':'35','Most prefered brands':'Cadbury,Nestle Global'},
                   998864: {'Name': 'Siddhi Patil', 'Total purchase till now in Rs': 'Rs.6000', 'No. of purchases till now':'49','Most prefered brands':'Cadbury,Sunfeast,Nestle Global'},
                   998865: {'Name': 'Roy Shah', 'Total purchase till now in Rs': 'Rs.4000', 'No. of purchases till now':'20','Most prefered brands':'Sunfeast,Mars,Nestle Global'},
                   998866: {'Name': 'Robbin Dsouza', 'Total purchase till now in Rs': 'Rs.2000', 'No. of purchases till now':'30','Most prefered brands':'Cadbury,Mars'},
                   998867: {'Name': 'David Dias', 'Total purchase till now in Rs': 'Rs.10000', 'No. of purchases till now':'55','Most prefered brands':'Sunfeast'},
                   998868: {'Name': 'Ram Shah', 'Total purchase till now in Rs': 'Rs.6000', 'No. of purchases till now':'25','Most prefered brands':'Cadbury,Sunfeast'},
                   998869:{  },998870:{  },998871:{  },998872:{  },998873:{  },998874:{  },998875:{  }
                   }

In [198]:
js = json.dumps(Customer_record)
jst = json.dumps(record)

In [199]:
js
jst

'{"556671": {"Product name": "Dairy Milk", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 50, "Closing Quantity": 100, "Sale Price": 100, "Purchase Price": 80}, "556672": {"Product name": "Kitkat", "Brand Name": "Nestle global", "Opening Quantity": 100, "Sales Quantity": 50, "Closing Quantity": 100, "Sale Price": 40, "Purchase Price": 20}, "556673": {"Product name": "Five star", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 25, "Closing Quantity": 100, "Sale Price": 10, "Purchase Price": 5}, "556674": {"Product name": "Eclairs", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 25, "Closing Quantity": 100, "Sale Price": 2, "Purchase Price": 1}, "556675": {"Product name": "Dark Fantasy", "Brand Name": "SunFeast", "Opening Quantity": 100, "Sales Quantity": 70, "Closing Quantity": 100, "Sale Price": 50, "Purchase Price": 40}, "556676": {"Product name": "Perk", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 29, "Closing Quantity": 100, "Sale Price": 20, "Purchase Price": 15}, "556677": {"Product name": "Bournville", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 0, "Closing Quantity": 100, "Sale Price": 100, "Purchase Price": 75}, "556678": {"Product name": "Dark Chocolate", "Brand Name": "Amul", "Opening Quantity": 100, "Sales Quantity": 22, "Closing Quantity": 100, "Sale Price": 100, "Purchase Price": 80}}'

In [201]:
yes_no = input('Do you have a Customer_ID: ')
if(yes_no == 'no'):
  count=998869
  print('Here is your Customer_ID: ',996669 )
  count = count +1
if(yes_no == 'yes'):
  Customer_ID = input("Enter you Customer_ID ")
  if(Customer_ID == '998861' ):
    print('Hello, ',Customer_record[998861]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998861]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])

  elif(Customer_ID == '998862' ):
    print('Hello, ',Customer_record[998862]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998862]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])
  
  elif(Customer_ID == '998863' ):
    print('Hello, ',Customer_record[998863]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998863]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])

  elif(Customer_ID == '998864' ):
    print('Hello, ',Customer_record[998864]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998864]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])

  elif(Customer_ID == '998865' ):
    print('Hello, ',Customer_record[998865]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998865]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])

  elif(Customer_ID == '998866' ):
    print('Hello, ',Customer_record[998866]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998866]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])

  elif(Customer_ID == '998867' ):
    print('Hello, ',Customer_record[998867]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998867]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])

  elif(Customer_ID == '998868' ):
    print('Hello, ',Customer_record[998868]['Name'],'Nice to see you again, How can i help you??? :)' )
    print('Here are your most preffered brands',Customer_record[998868]['Most prefered brands'])
    print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])
  
  else:
    print('*****Invalid Customer_ID******')

Do you have a Customer_ID: yes
Enter you Customer_ID 998861
Hello,  Vaishnavi Salunkhe Nice to see you again, How can i help you??? :)
Here are your most preffered brands Cadbury,Mars,Nestle Global
Availble Chocolates are  Dairy Milk, Kitkat,Five star,Snikers,Eclairs,Perk,Dark Fantasy,bournville

In [203]:
print('Availble Chocolates are ',Customer_record['XXXX']['Chocolates'])
Purchased_Chocolates1 = "dairy milk"
Purchased_Chocolates2 = "Kitkat"
Purchased_Chocolates3 = 'Five Star'
Purchased_Chocolates4 = "Eclairs"
Purchased_Chocolates5 = "Dark Fantasy"
Purchased_Chocolates6 = "Perk"
Purchased_Chocolates7 = "Bournville"
Purchased_Chocolates8 = "Dark Chocolate"
No_of_DairyMilk = 3 #@param {type:"slider", min:0, max:10, step:1}

No_of_kitkat = 4 #@param {type:"slider", min:0, max:10, step:1}

No_of_FiveStars = 4 #@param {type:"slider", min:0, max:10, step:1}

No_of_eclairs = 4 #@param {type:"slider", min:0, max:10, step:1}

No_of_dark_fantacy = 3 #@param {type:"slider", min:0, max:10, step:1}

No_of_perk = 5 #@param {type:"slider", min:0, max:10, step:1}

No_of_Bournville = 4 #@param {type:"slider", min:0, max:10, step:1}

No_of_dark_chocolate = 3 #@param {type:"slider", min:0, max:10, step:1}

Availble Chocolates are  Dairy Milk, Kitkat,Five star,Snikers,Eclairs,Perk,Dark Fantasy,bournville

In [217]:
Price1 = 0
Price2 = 0
Price3 = 0
Price4 = 0
Price5 = 0
Price6 = 0
Price7 = 0
Price8 = 0

if(No_of_DairyMilk != 0):
  Price1 = record[556671]['Sale Price'] * No_of_DairyMilk
  print('Dairy Milk = ', Price1)

if(No_of_kitkat != 0):
  Price2 = record[556672]['Sale Price'] * No_of_kitkat
  print('Kitkat = ', Price2)

if(No_of_FiveStars != 0):
  Price3 = record[556672]['Sale Price'] * No_of_FiveStars
  print('Five Stars = ', Price3)

if(No_of_eclairs != 0):
  Price4 = record[556672]['Sale Price'] * No_of_eclairs
  print('Eclairs = ', Price4)

if(No_of_dark_fantacy != 0):
  Price5 = record[556672]['Sale Price'] * No_of_dark_fantacy
  print('Dark Fantacy = ', Price5)

if(No_of_perk != 0):
  Price6 = record[556672]['Sale Price'] * No_of_perk
  print('Perk = ', Price6)

if(No_of_Bournville != 0):
  Price7 = record[556672]['Sale Price'] * No_of_Bournville
  print('Bournville = ', Price7)

if(No_of_dark_chocolate != 0):
  Price8 = record[556672]['Sale Price'] * No_of_dark_chocolate
  print('Dark Chocolate = ', Price8)

print('Total Bill is  ',Price1 +  Price2 + Price3 +  Price4 + Price5 +  Price6 + Price7 +  Price8)
Total_Price = Price1 +  Price2 + Price3 +  Price4 + Price5 +  Price6 + Price7 +  Price8
if(Total_Price >= 1000):
 discount = (5/100)*Total_Price
 print("Hurray, You have got Special Discount", discount )
 print("Now your Total bill is ",Total_Price-discount )

Dairy Milk =  400
Kitkat =  80
Five Stars =  40
Eclairs =  160
Dark Fantacy =  200
Perk =  80
Bournville =  80
Dark Chocolate =  120
Total Bill is   1160
Hurray, You have got Special Discount 58.0
Now your Total bill is  1102.0

In [214]:
fd = open("Customer_record.json" , 'w')
fd.write(js)
fd.close()

In [216]:
fd = open("Customer_record.json" , 'r')
txt = fd.read()
fd.close()