In [45]:
import json

In [46]:
record = { 556671: {'Product name' : 'Dairy Milk', 'Brand Name' : 'Cadbury', 'Opening Quantity' : 100 , 'Sales Quantity' : 50, 'Closing Quantity' : 100, 'Sale Price' : 100, 'Purchase Price': 80 },
           556672: {'Product name' : 'Kitkat','Brand Name' : 'Nestle global', 'Opening Quantity': 100 , 'Sales Quantity':50, 'Closing Quantity':100   ,'Sale Price': 40, 'Purchase Price': 20},
            556673: {'Product name' : 'Five star', 'Brand Name' :'Cadbury', 'Opening Quantity':100     , 'Sales Quantity': 25   , 'Closing Quantity':100    ,'Sale Price': 10, 'Purchase Price': 5},
            556674: {'Product name' :'Eclairs', 'Brand Name' : 'Cadbury', 'Opening Quantity':100   , 'Sales Quantity': 25   , 'Closing Quantity':100    ,'Sale Price': 2, 'Purchase Price': 1},
            556675: {'Product name' : 'Dark Fantasy', 'Brand Name' : 'SunFeast', 'Opening Quantity':100  , 'Sales Quantity':70    , 'Closing Quantity':100   ,'Sale Price': 50, 'Purchase Price':40},
            556676: {'Product name' : 'Perk', 'Brand Name' :'Cadbury', 'Opening Quantity':100 , 'Sales Quantity': 29   , 'Closing Quantity':100   ,'Sale Price': 20, 'Purchase Price':15},
            556677: {'Product name' :'Bournville', 'Brand Name': 'Cadbury', 'Opening Quantity':100, 'Sales Quantity': 0   , 'Closing Quantity':100   ,'Sale Price': 100 , 'Purchase Price':75},
            556678: {'Product name' :'Dark Chocolate','Brand Name' :'Amul', 'Opening Quantity':100 , 'Sales Quantity':22    , 'Closing Quantity': 100   ,'Sale Price': 100, 'Purchase Price':80},
            }

In [47]:
record

{556671: {'Brand Name': 'Cadbury',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Dairy Milk',
  'Purchase Price': 80,
  'Sale Price': 100,
  'Sales Quantity': 50},
 556672: {'Brand Name': 'Nestle global',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Kitkat',
  'Purchase Price': 20,
  'Sale Price': 40,
  'Sales Quantity': 50},
 556673: {'Brand Name': 'Cadbury',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Five star',
  'Purchase Price': 5,
  'Sale Price': 10,
  'Sales Quantity': 25},
 556674: {'Brand Name': 'Cadbury',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Eclairs',
  'Purchase Price': 1,
  'Sale Price': 2,
  'Sales Quantity': 25},
 556675: {'Brand Name': 'SunFeast',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Dark Fantasy',
  'Purchase Price': 40,
  'Sale Price': 50,
  'Sales Quantity': 70},
 556676: {'Brand Name': 'Cadbury',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Perk',
  'Purchase Price': 15,
  'Sale Price': 20,
  'Sales Quantity': 29},
 556677: {'Brand Name': 'Cadbury',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Bournville',
  'Purchase Price': 75,
  'Sale Price': 100,
  'Sales Quantity': 0},
 556678: {'Brand Name': 'Amul',
  'Closing Quantity': 100,
  'Opening Quantity': 100,
  'Product name': 'Dark Chocolate',
  'Purchase Price': 80,
  'Sale Price': 100,
  'Sales Quantity': 22}}

In [48]:
js = json.dumps(record)

In [49]:
js

'{"556671": {"Product name": "Dairy Milk", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 50, "Closing Quantity": 100, "Sale Price": 100, "Purchase Price": 80}, "556672": {"Product name": "Kitkat", "Brand Name": "Nestle global", "Opening Quantity": 100, "Sales Quantity": 50, "Closing Quantity": 100, "Sale Price": 40, "Purchase Price": 20}, "556673": {"Product name": "Five star", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 25, "Closing Quantity": 100, "Sale Price": 10, "Purchase Price": 5}, "556674": {"Product name": "Eclairs", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 25, "Closing Quantity": 100, "Sale Price": 2, "Purchase Price": 1}, "556675": {"Product name": "Dark Fantasy", "Brand Name": "SunFeast", "Opening Quantity": 100, "Sales Quantity": 70, "Closing Quantity": 100, "Sale Price": 50, "Purchase Price": 40}, "556676": {"Product name": "Perk", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 29, "Closing Quantity": 100, "Sale Price": 20, "Purchase Price": 15}, "556677": {"Product name": "Bournville", "Brand Name": "Cadbury", "Opening Quantity": 100, "Sales Quantity": 0, "Closing Quantity": 100, "Sale Price": 100, "Purchase Price": 75}, "556678": {"Product name": "Dark Chocolate", "Brand Name": "Amul", "Opening Quantity": 100, "Sales Quantity": 22, "Closing Quantity": 100, "Sale Price": 100, "Purchase Price": 80}}'

In [55]:

Dairy_Milk = 24 #@param {type:"slider", min:0, max:100, step:1}
Kitkat = 7 #@param {type:"slider", min:0, max:100, step:1}
Five_star = 37 #@param {type:"slider", min:0, max:100, step:1}
Eclairs = 34 #@param {type:"slider", min:0, max:100, step:1}
Dark_Fantacy = 46 #@param {type:"slider", min:0, max:100, step:1}
Perk = 39 #@param {type:"slider", min:0, max:100, step:1}
Bournville = 29 #@param {type:"slider", min:0, max:100, step:1}
Dark_Chocolate = 21 #@param {type:"slider", min:0, max:100, step:1}

In [59]:
Total_Sale = Dairy_Milk + Kitkat + Five_star + Eclairs + Dark_Fantacy + Perk + Bournville + Dark_Chocolate
print('Total Sale is',Total_Sale, 'Chocolates')

Total Sale is 234 Chocolates

In [62]:

Product_ID = input('Enter the Product ID : ')

if(Product_ID == '556671'):
   print('Customers have purchased',  Dairy_Milk,'Dairy Milk')
   record[556671]['Closing Quantity'] = record[556671]['Opening Quantity'] - Dairy_Milk
   Closing_Quantity = record[556671]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556671]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)

elif(Product_ID == '556672'):
   print('Customers have purchased' , Kitkat,'Kitkat')
   record[556672]['Closing Quantity'] = record[556672]['Opening Quantity'] - Kitkat
   Closing_Quantity = record[556672]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556672]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
elif(Product_ID == '556673'):
   
   print('Customers have purchased' , Five_star,'Five Star')
   record[556673]['Closing Quantity'] = record[556673]['Opening Quantity'] - Five_star
   Closing_Quantity = record[556673]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556673]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
elif(Product_ID == '556674'):
   print('Customers have purchased' , Eclairs,'Eclairs')
   record[556674]['Closing Quantity'] = record[556674]['Opening Quantity'] - Eclairs
   Closing_Quantity = record[556674]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556674]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
elif(Product_ID == '556675'):
   print('Customers have purchased' , Dark_Fantasy, 'Dark Fantasy')
   record[556675]['Closing Quantity'] = record[556675]['Opening Quantity'] - Dark_Fantasy
   Closing_Quantity = record[556675]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556675]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
elif(Product_ID == '556676'):
   print('Customers have purchased' , Perk,'Perk')
   record[556676]['Closing Quantity'] = record[556676]['Opening Quantity'] - Perk
   Closing_Quantity = record[556676]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556676]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
elif(Product_ID == '556677'):
   print('Customers have purchased' , Bournville,'Bournville')
   record[556677]['Closing Quantity'] = record[556677]['Opening Quantity'] - Bournville
   Closing_Quantity = record[556677]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556677]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
elif(Product_ID == '556678'):
   print('Customers have purchased' , Dark_Chocolate, 'Dark Chocolate')
   record[556678]['Closing Quantity'] = record[556678]['Opening Quantity'] - Dark_Chocolate
   Closing_Quantity = record[556678]['Closing Quantity']
   print('Closing Quantity is ',Closing_Quantity  )
   Opening_Quantity = record[556678]['Opening Quantity']
   print('Opening Quantity was ', Opening_Quantity)
   
else:
  print("********Invalid Product ID********* ")

Enter the Product ID : 556673
Customers have purchased 37 Five Star
Closing Quantity is  63
Opening Quantity was  100

In [64]:
profit1 = 0
profit2 = 0
profit3 = 0
profit4 = 0
profit5 = 0
profit6 = 0
profit7 = 0
profit8 = 0
print("To check your profit ")

if(Dairy_Milk != 0):
   Sale_at = Dairy_Milk * record[556671]['Sale Price']
   Purchase_at = Dairy_Milk * record[556671]['Purchase Price']
   profit1 =  Sale_at - Purchase_at 
   print("Hurray you have got profit of Rs",profit1,"on Dairy Milk")
   
if(Kitkat != 0):
   Sale_at = Kitkat  * record[556672]['Sale Price']
   Purchase_at = Kitkat * record[556672]['Purchase Price']
   profit2 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit2,"on Kitkat")
   
if(Five_star != 0):
   Sale_at = Five_star * record[556673]['Sale Price']
   Purchase_at = Five_star * record[556673]['Purchase Price']
   profit3 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit3,"on Five Star")
   
if(Eclairs != 0):
   Sale_at = Eclairs * record[556674]['Sale Price']
   Purchase_at = Eclairs * record[556674]['Purchase Price']
   profit4 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit4,"on Eclairs")
   
if(Dark_Fantacy != 0):
   Sale_at = Dark_Fantacy * record[556675]['Sale Price']
   Purchase_at = Dark_Fantacy * record[556675]['Purchase Price']
   profit5 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit5,"on Dark Fantacy")
   
elif(Perk != 0):
   Product_name = record[556676]['Product name']
   Sale_at = Perk * record[556676]['Sale Price']
   Purchase_at = Perk * record[556676]['Purchase Price']
   profit6 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit6,"on Perk")
   
if(Bournville != 0):
   Sale_at = Bournville * record[556677]['Sale Price']
   Purchase_at = Bournville * record[556677]['Purchase Price']
   profit7 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit7,"on Bournville")
   
if(Dark_Chocolate != 0):
   Sale_at = Dark_Chocolate * record[556678]['Sale Price']
   Purchase_at = Dark_Chocolate * record[556678]['Purchase Price']
   profit8 =  Sale_at - Purchase_at
   print("Hurray you have got profit of Rs",profit8,"on Dark Chocolate")




Total_Profit = profit1 + profit2 + profit3 + profit4 + profit5 + profit6 + profit7 + profit8
print("Hurray Total Profit is Rs. ",Total_Profit)

To check your profit
Hurray you have got profit of Rs 480 on Dairy Milk
Hurray you have got profit of Rs 80 on Kitkat
Hurray you have got profit of Rs 185 on Five Star
Hurray you have got profit of Rs 34 on Eclairs
Hurray you have got profit of Rs 460 on Dark Fantacy
Hurray you have got profit of Rs 725 on Bournville
Hurray you have got profit of Rs 420 on Dark Chocolate
Hurray Total Profit is Rs.  2384

In [65]:
fd = open("record.json" , 'w')
fd.write(js)
fd.close()

In [66]:
fd = open("record.json" , 'r')
txt = fd.read()
fd.close()